/node_modules
/storage
/public/hot
/public/storage
/public/page
/storage/*.key
/vendor
.env
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/
/public/js/
*.zip
*.sql
