body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}
a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
a:hover {
    color: #e1193e;
}

a:hover {
    text-decoration: none;
}

table{
    font-size: 13px !important;
}

img {
    border-radius: .25rem!important;
}

.btn {
    font-size: 0.9rem !important;
}

.btn-danger {
    background-color: #e1193e !important;
}

.f-13 {
    font-size: 13px !important;
}

.dropdown-menu {
    font-size: 13px !important;
}

.custom-select:focus{
    outline: none !important;
    box-shadow: none;
}

.form-control {
    font-size: 13px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da !important;
}

.border {
    border-color: #ced4da !important;
}

.bg-light-grey {
    background-color: #c8c8c8!important;
}

.border-light-grey {
    border-color: #c8c8c8!important;
}

.text-dark-grey {
    color: #82797b !important;
}
.text-light-grey {
    color: #c8c8c8 !important;
}
.text-grey {
    color: #AFAFAF !important;
}

*:focus {
    outline: none;
    box-shadow: none;
}

.shadow {
    -webkit-box-shadow: 0px 2px 7px 0px #cacaca;
    -moz-box-shadow: 0px 2px 7px 0px #cacaca;
    box-shadow: 0px 2px 7px 0px #cacaca;
}

.pt-7 {
    padding-top: 5rem;
}
.pt-8 {
    padding-top: 6rem;
}
.pl-30 {
    padding-left: 30px;
}
.border-abu {
    border: 1px solid #bababa;
}

.bg-abu {
    background-color: #f2f2f2;
}

.border-hola {
    border: 1px solid #e1193e;
}

.bg-hola {
    background-color: #e1193e;
}

.bg-coklat {
    background-color: #ffbb93;
}

.bg-kuning {
    background-color: #ffff8b;
}

.bg-hola-op {
    background-color: #e1193e3d;
}

.pointer {
    cursor: pointer;
}

.font-weight-500 {
    font-weight: 500 !important;
}

#dropdowncalendar {
    border:0; 
    width: 70px; 
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}

.ui-datepicker{
 font-size: .9rem !important;
}


#blur {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    visibility: hidden;
}

.card-produk-gerai {
    height: 310px;
}

.owl-carousel {
    overflow:hidden;
    height: 4em;
}

.owl-carousel div img {
   height: 300px;
}
/* Slick Slider */

.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

h3 {
	background: #f0f0f0;
	color: #3498db;
	font-size: 2.25rem;
	margin: .5rem;
	padding: 2%;
	position: relative;
	text-align: center;
}

.slider-single h3 {
	line-height: 10rem;
}

.slider-nav h3::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.slider-nav h3 span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: #fff
}


/* Rating Bar */
/* Three column layout */
.side {
    float: left;
    width: 20%;
    margin-top:10px;
}

.middle {
    margin-top:15px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.side-right {
    float: left;
    width: 10%;
    margin-top:10px;
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
.bar-container, .bar-container div {
    border-radius: 5px;
}

/* Individual bars */
.bar-5 {width: 70%; height: 10px; background-color: #e1193e;}
.bar-4 {width: 30%; height: 10px; background-color: #e1193e;}
.bar-3 {width: 10%; height: 10px; background-color: #e1193e;}
.bar-2 {width: 0%; height: 10px; background-color: #e1193e;}
.bar-1 {width: 0%; height: 10px; background-color: #e1193e;}


/* CSS Hightlight Datepicker */

.dp-highlight .ui-state-default {
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #212529;
    background: rgb(250,250,250); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(225,225,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(225,225,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.foto-produk {
    width: 100%;
}

.w-20px {
    width: 20px !important;
}

.h-20px {
    height: 20px !important;
}

.catatan-gerai a {
    color: #e1193e !important;
}

.catatan-gerai a:hover {
    color: #7e0f24 !important;
}

.kartu .gambar {
    width: 100%;
    height: 220px;
    background-size:     contain;                   
    background-repeat:   no-repeat;
    background-position: center center; 
}
.kartu .gambar img {
    visibility: hidden;
}

.kartu .namaproduk {
    width: 100%;
    height: 50px;
    font-size: 14px;
}
.kartu .harga {
    width: 100%;
    height: 20px;
    font-size: 12px;
}

.owl-nav button {
    visibility: visible;
    display: inline;
    z-index: 10;
}

#dropdownlokasi-content {
    margin-left: -205px;
}
#dropdownlokasi-content div {
    width: 558px;
}

/* Google Maps */

.gm-style-iw {
    width: 200px !important;
    max-height: 150px !important;
    overflow-x: auto;
    overflow-y: auto;
}

/* =========================================================================CSS Gerai Menu================================================ */
.menu-header {
    margin-top: 10px;
    cursor: pointer;
    color: #e1193e;
}

.menu a .content-menu {
    color: #343a40;
}

.menu a .content-menu {
    padding: 6px 8px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.menu a .content-menu:hover {
    background-color: #f0f0f0;
    border-top: 1px solid #e0e0e0; 
    border-bottom: 1px solid #e0e0e0; 
    cursor: pointer;
}

.menu .active {
    color: #f8f9fa;
    background-color: #f0f0f0;
    border-top: 1px solid #e0e0e0 !important; 
    border-bottom: 1px solid #e0e0e0 !important; 
}

/* ----------------------------------------CSS Gerai Content */
.box-name {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}
.input-name {
    margin-bottom: 15px;
    font-weight: 600;
}

.pembatas-dashed {
    border: .5px dashed #e0e0e0;
    margin: 10px 0px;
}

.badge-invert {
    border: 1px solid #e1193e;
    color: #e1193e;
    border-radius: 4px;
    font-size: 9px;
    border-radius: 4px;
    padding: 2px;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 20%;
    margin-left: -20px;
    display: block !important;
    color: black;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 20%;
    right: 0px;
    display: block !important;
    color: black;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

.hidden-input {
    opacity: 0;
    z-index: -1;
    width: 0px;
}
.label-upload-gambar-trip {
    border: 1px dashed #afafaf;
    color: #9f9f9f;
    border-radius: 4px;
    padding: 15px;
    font-size: 4em;
    cursor: pointer;
}
.label-upload-gambar-trip i {
    position: relative;
}
.label-upload-gambar-trip .overlay {
    display: inline;
    position: absolute;
    top: -2px;
    color: #fff;
    z-index: 1;
}

.long-description {
    font-size:11px;
}

.shadow-s {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

/* --------------------------------Custom Rotate Icon Menu */

[data-toggle="collapse"][aria-expanded="true"] > .js-rotate-if-collapsed {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
    transition: all .5s;
}

[data-toggle="collapse"][aria-expanded="false"] > .js-rotate-if-collapsed {
    transition: all .5s;
}

/* ------------------------------Custom Checkbox (di halaman Gerai - Daftar) */
/* Base for label styling */
.check-custom [type="checkbox"]:not(:checked),
.check-custom [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.check-custom [type="checkbox"]:not(:checked) + label,
.check-custom [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.check-custom [type="checkbox"]:not(:checked) + label:before,
.check-custom [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 2em; 
  height: 2em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.check-custom [type="checkbox"]:not(:checked) + label:after,
.check-custom [type="checkbox"]:checked + label:after {
  content: '\2713';
  position: absolute;
  top: .16em; 
  left: .18em;
  font-size: 1.8em;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
.check-custom [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.check-custom [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.check-custom [type="checkbox"]:disabled:not(:checked) + label:before,
.check-custom [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.check-custom [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.check-custom [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.check-custom [type="checkbox"]:checked + label:before {
  border: 2px solid #e1193e;
  background-color: #e1193e;
}


/* ------------------------------Custom Checkbox (small) */
/* Base for label styling */
.check-custom-donasi [type="checkbox"]:not(:checked),
.check-custom-donasi [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.check-custom-donasi [type="checkbox"]:not(:checked) + label,
.check-custom-donasi [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.65em;
  cursor: pointer;
}

/* checkbox aspect */
.check-custom-donasi [type="checkbox"]:not(:checked) + label:before,
.check-custom-donasi [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.6em; 
  height: 1.6em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.check-custom-donasi [type="checkbox"]:not(:checked) + label:after,
.check-custom-donasi [type="checkbox"]:checked + label:after {
  content: '\2713';
  position: absolute;
  top: .19em; 
  left: .19em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
.check-custom-donasi [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.check-custom-donasi [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.check-custom-donasi [type="checkbox"]:disabled:not(:checked) + label:before,
.check-custom-donasi [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.check-custom-donasi [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.check-custom-donasi [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.check-custom-donasi [type="checkbox"]:checked + label:before {
  border: 1px solid #e1193e;
  background-color: #e1193e;
}
/* ------------------------------Custom Radio */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    border: 2px solid #fff;
    width: 16px;
    height: 16px;
    background: #e1193e;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ----------------------------------------------YES NO Toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* ========================================================================= CSS Pemesanan Barang ======================================== */

.add-jumlah-pesanan {
    font-size: 1.8rem;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #343a40;
    color: #e1193e;
}

.plus, .minus {
    padding-top: 9px;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    border: 1px solid #212529;
    background-color: #fff;
}

.plus:hover, .minus:hover {
    background-color: #212529;
    color: #fff;
}

.list-check {
    display: none !important;
}

.show-hapus-button {
    display: inline-block;
    cursor: pointer;
}
.show-hapus {
    display: inline-block;
    cursor: pointer;
}
.hide-hapus {
    display: none;
    cursor: pointer;
}

.input-tulis-catatan {
    display: none;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

.sticky-top {
    top: 1em;
}
.nav-pills  .nav-link {
    border: #fff !important;
    border-bottom: 1px solid #dee2e6 !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    padding: auto 15px auto 15px;
}
.nav-pills  .nav-link.active {
    border-bottom: 1px solid #e1193e !important;
    color: #e1193e;
}
.nav-item-kode {
    font-size: 1.1rem;
}

.kupon:hover {
    cursor: pointer;
    background-color: #eaeaea;
}

.harga {
    font-size: 1rem !important;
}

/* ------------------------------------Modal Pembayaran */
.modal-dialog-pembayaran{
    overflow-y: initial !important
}
.modal-body-pembayaran{
    height: 85vh;
    overflow-y: auto;
}
.close-custom {
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: -0.5em;
    margin-top: -0.5em;
    font-weight: bold;
}
.close-custom:focus {
    outline: none;
}

.metode-pembayaran:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px #cacaca;
}

.w-60 {
    width: 60% !important
}
.w-65 {
    width: 65% !important
}
.w-70 {
    width: 70% !important;
}
  

/* ==========================================================================CSS Gerai Penjualan==================================== */

.tbl-pesanan-harga tr td {
    padding: .3em 0em;
}

.judul {
    font-size: 1.2em !important;
}

.sisa-waktu {
    margin-top: -1em;
    margin-right: -.8em;
    z-index: 1 !important;
    position: relative;
}

.label-pesanan {
    margin-top: -1.3em;
    color: #fff;
    font-weight: 700;
}

/* .label img {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
} */

.select-kategori-pesanan {
    width: 250px;
}
.select-kategori-pesanan option {
    padding: 10px 0px;
}
.select-kategori-pesanan option:hover {
    background-color: none !important;
}

.bg-op-hijau{
    background-color: rgba(92, 255, 92, 0.2);
}

.bg-op-merah{
    background-color: rgba(255, 38, 38, 0.2);
}

.bg-op-biru{
    background-color: rgba(92, 157, 255, 0.2);
}

.bg-op-kuning{
    background-color: rgba(252, 255, 92, 0.2);
}

.bg-op-oren{
    background-color: rgba(255, 193, 7, 0.3);
}


/* ==========================================================================================CSS Gerai Daftar Produk=============== */

.daftar-img img {
    max-height: 8em !important;
    max-width: 100% !important;
}

.form-catatan {
    border: 0px; 
    box-sizing: border-box; 
    resize: none;
    overflow: hidden;
}


/* ==========================================================================================CSS Profile=============== */

.profil-ganti-foto {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.nav-border .active {
    border-bottom: 2px solid #e1193e;
    color: #e1193e
}


/* ================================== modal images */
.open-gallery {
    cursor: pointer;
}

.modal-xxl {
    width: 85% !important;
    min-width: 85% !important;
    margin: auto;
}

@media (min-width: 992px) {
    .popup-content-lg {
        height: 430px;
    }
}

@media (min-width: 1367px) {
    .popup-content-lg {
        height: 730px;
    }
}

.popup-footer {
    max-height: 190px;
    overflow-y: auto;
}