.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: transform 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.main-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.main-header.sticky:before {
  transform: scaleY(1);
}
.main-header .container {
  display: flex;
  align-items: center;
}
.main-header .top-header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-header .top-header .contact-header {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-header .top-header .contact-header li {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  vertical-align: middle;
}
.main-header .top-header .contact-header li + li {
  margin-left: 20px;
}
.main-header .top-header .contact-header i {
  margin-right: 10px;
}
.main-header .top-header .social-icon {
  margin-left: auto;
}
.main-header .top-header .social-icon li a {
  color: #fff;
}
.main-header .top-header .social-icon li a:hover, .main-header .top-header .social-icon li a:focus, .main-header .top-header .social-icon li a:focus:active {
  color: rgba(255, 255, 255, 0.6);
}
.main-header .nav-header {
  padding: 20px 0;
}
.main-header .nav-header .user-header {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.main-header .nav-header .user-header .user-nav {
  display: flex;
  align-items: center;
}
.main-header .nav-header .user-header .user-nav .user-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 14px;
  overflow: hidden;
}
.main-header .nav-header .user-header .user-nav .notif {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 12px;
  height: 12px;
  text-align: center;
  background-color: #FC1919;
  border-radius: 50%;
  color: #fff;
}
.main-header .nav-header .user-header .btn-login {
  position: relative;
  transform: translateZ(0);
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  line-height: 0;
  padding: 19px 0 19px 50px;
}
.main-header .nav-header .user-header .btn-login i {
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-left: 20px;
}
.main-header .nav-header .user-header .btn-login:hover, .main-header .nav-header .user-header .btn-login:focus, .main-header .nav-header .user-header .btn-login:focus:active {
  color: #fff;
  background-color: transparent;
}
.main-header .nav-header .user-header .btn-login:before {
  content: "";
  position: absolute;
  top: -21px;
  bottom: -20px;
  width: 3000%;
  left: 0;
  background-color: #0EB6DD;
  border-radius: 0 0 0 40px;
  z-index: -1;
  transition: background-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.main-header .nav-header .user-header .btn-login:hover::before {
  background-color: #128DB3;
}
.main-header .nav-header .user-header .dropdown-menu a {
  display: flex;
  align-items: center;
}
.main-header .nav-header .user-header .user-name {
  font-weight: 500;
  color: #212121;
  font-size: 14px;
}
.main-header .nav-header .user-header .notif-label {
  margin-left: auto;
  display: block;
  line-height: 0;
  padding: 12px 9px 10px;
  font-weight: 700;
  font-size: 10px;
  background-color: #FC1919;
  border-radius: 14px;
  color: #fff;
}
.main-header .logo-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.main-header .logo-header .logo-icon {
  width: 40px;
  height: 40px;
  background-image: url(../images/sikepa_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.main-header .logo-header .logo-text {
  text-transform: uppercase;
  font-family: "vesterbro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.main-header.sticky .logo-text {
  color: #FC1919;
}
.main-header .menu-header .menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-header .menu-header .menu > li + li {
  margin-left: 40px;
}
.main-header .menu-header .menu > li > a {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #fff;
  line-height: 40px;
}
.main-header .menu-header .menu > li:hover > a,
.main-header .menu-header .menu > li.active > a {
  color: #0EB6DD !important;
}
.main-header .menu-header .btn-login {
  display: none;
}
.main-header.sticky .logo-header .logo-text {
  color: #212121;
}
.main-header.sticky .menu-header .menu > li > a {
  color: #212121;
}
.main-header.sticky .user-header .user-nav > li > a {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}

.burger-menu {
  position: relative;
  z-index: 100;
  margin-left: 25px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;
  align-items: center;
}
.burger-menu .burger-menu-content {
  flex: 1;
}
.burger-menu .burger-menu-content span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), background-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.burger-menu .burger-menu-content span + span {
  margin-top: 6px;
}
.active-menu .burger-menu .burger-menu-content span, .sticky .burger-menu .burger-menu-content span {
  background-color: #000;
}

.active-menu .burger-menu span:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}
.active-menu .burger-menu span:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -3px);
}

.social-icon {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.social-icon li {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  vertical-align: middle;
}
.social-icon li + li {
  margin-left: 20px;
}
.social-icon li a {
  font-size: 20px;
}

.single-page .top-header {
  border-bottom: 1px solid #eee;
}
.single-page .top-header .contact-header li {
  color: #757575;
}
.single-page .top-header .social-icon li a {
  color: #0EB6DD;
}
.single-page .top-header .social-icon li a:hover, .single-page .top-header .social-icon li a:focus, .single-page .top-header .social-icon li a:focus:active {
  color: #128DB3;
}
.single-page .nav-header .logo-header .logo-text {
  color: #212121;
}
.single-page .nav-header .menu-header .menu > li > a {
  color: #212121;
}
.single-page .burger-menu .burger-menu-content span {
  background-color: #212121;
}

.login-page .main-header .logo-header {
  margin-right: auto;
}

.banner-area {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
  /*&:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
      z-index: 1
  }*/
}
.banner-area .swiper-wrapper {
  transition-delay: 0.4s;
}
.banner-area .swiper-slide {
  height: 100vh;
  min-height: 768px;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  transition-delay: 0.4s;
}
.banner-area .banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-delay: 0.4s;
  transition-timing-function: cubic-bezier(0.2, 0.4, 0.1, 1) !important;
}
.banner-area .banner-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  z-index: 1;
  padding-top: 100px;
}
.banner-area .banner-caption .caption {
  position: relative;
  max-width: 680px;
  transition: transform 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), opacity 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.banner-area .banner-caption .caption .main-title {
  margin: 40px 0;
}
.banner-area .banner-caption .caption .main-title .title {
  font-size: 4em;
  color: #fff;
  height: calc(1.3em * 2);
  overflow: hidden;
}
.banner-area .banner-caption .caption .main-title .title:after {
  content: "";
}
.banner-area .banner-caption .caption .link-icon {
  color: #fff;
}
.banner-area .banner-caption .caption .link-icon:hover {
  color: #aaa;
}
.banner-area .banner-caption.change .caption {
  opacity: 0;
  transform: translateX(50px);
}
.banner-area .swiper-button-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.banner-area .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.2);
}
.banner-area .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  background-color: #0EB6DD;
}

#home-sikepa .block-media-text .caption-media:before {
  top: -178px;
}

.meta {
  margin-bottom: 20px;
}
.meta span {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  color: #0EB6DD;
}

.list-box a {
  display: block;
  position: relative;
}
.list-box .box-item {
  flex: 0 0 25%;
  position: relative;
  transform: translateZ(0);
  height: 280px;
  padding: 20px 40px;
  border-radius: 40px;
  border: 1px solid #9CCF10;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), background-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), border-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), transform 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.list-box .box-item .caption {
  flex: 1;
  text-align: center;
}
.list-box .box-item .caption .title {
  margin: 0;
  font-size: 16px;
  transition: color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.list-box .box-item .icon {
  width: 60px;
  margin: 0 auto 30px;
}
.list-box .box-item .icon img {
  max-width: 100%;
  vertical-align: middle;
}
.list-box .box-item:hover {
  box-shadow: 0 20px 50px rgba(14, 182, 221, 0.5);
  background-color: #0EB6DD;
  border-color: transparent;
  transform: translateY(-10px);
}
.list-box .box-item:hover .caption .title {
  color: #fff;
}

.single-article {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.single-article .box-media {
  flex: 0 0 120px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.single-article .single-caption {
  position: relative;
  z-index: 2;
}
.single-article .single-caption .meta {
  margin-bottom: 10px;
}
.single-article .single-caption .title {
  font-weight: 600;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
  overflow: hidden;
}
.single-article:hover .hover-line {
  background-size: 100% 6px;
}

#home-info .caption-btn {
  margin-top: 2em;
}

/*
#home-article {
    .main-title {
        margin-bottom: 0;
    }
    .swiper-button-inline {
        text-align: right
    }
    .main-carousel {
        margin-top: 5em;
        overflow: visible;
        .swiper-slide {
            max-width: 300px;
        }
        .single-article {
            margin-bottom: 0;
        }
    }
}
*/
#home-testimoni .testimoni-content .caption-text i {
  color: #ddd;
  font-size: 42px;
  vertical-align: middle;
  line-height: 1;
}
#home-testimoni .testimoni-content .swiper-slide,
#home-testimoni .testimoni-content .swiper-slide-prev,
#home-testimoni .testimoni-content .swiper-slide-next {
  opacity: 0 !important;
}
#home-testimoni .testimoni-content .swiper-slide-active {
  opacity: 1 !important;
}
#home-testimoni .testimoni-user {
  overflow: visible;
  margin-top: 30px;
}
#home-testimoni .testimoni-user .testimoni-info {
  cursor: pointer;
  text-align: center;
}
#home-testimoni .testimoni-user .testimoni-info .box-media {
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  transform: scale(0.75);
  opacity: 0.6;
  transition: transform 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), opacity 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
#home-testimoni .testimoni-user .testimoni-info .testimoni-name {
  transition: opacity 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
  opacity: 0;
  transition-delay: 0s;
  margin-top: 20px;
}
#home-testimoni .testimoni-user .testimoni-info .testimoni-name .subtitle {
  margin: 0;
  color: #aaa;
}
#home-testimoni .testimoni-user .testimoni-info .testimoni-name .name {
  font-family: "vesterbro", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.4;
  color: #212121;
}
#home-testimoni .testimoni-user .swiper-slide-active .box-media {
  transform: scale(1);
  opacity: 1;
}
#home-testimoni .testimoni-user .swiper-slide-active .testimoni-name {
  opacity: 1;
  transition-delay: 0.4s;
}

.page-header {
  background-color: #f7f7f7;
  border-radius: 0 0 40px 0;
  padding: 16em 0 8em;
  margin: 0;
  border: none;
}
.page-header .main-title {
  margin: 0;
}
.page-header .search-header {
  position: relative;
  margin-top: 4em;
}
.page-header .search-header .btn-search {
  position: absolute;
  top: 0;
  right: 5px;
  width: 50px;
  line-height: 50px;
  height: 50px;
  padding: 0;
  border: none;
  font-size: 18px;
  background-color: transparent;
}
.page-header .search-header .form-control {
  padding: 18px 60px 15px 25px;
  border-radius: 50px;
}

.main-login-page {
  padding-top: 14em;
}
.main-login-page .section-form,
.main-login-page .section-button {
  margin-bottom: 4em;
}
.main-login-page .section-button {
  display: flex;
  align-items: center;
}
.main-login-page .section-button .link-icon {
  margin-right: auto;
}

.faq-list {
  counter-reset: number;
}
.faq-list .panel {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
.faq-list .panel + .panel {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px solid #eee;
}
.faq-list .panel .panel-body {
  padding: 0;
}
.faq-list .panel-collapse .panel-body {
  padding: 30px 0 0 50px;
}
.faq-list a[data-toggle] {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 600;
  color: #212121;
  line-height: 1.5;
}
.faq-list a[data-toggle]:before {
  content: counter(number, decimal-leading-zero);
  counter-increment: number;
  margin-right: 20px;
  flex: 0 0 30px;
  width: 30px;
  line-height: 0;
  padding: 16px 0 14px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #0EB6DD;
  color: #fff;
  text-align: center;
}
.faq-list a span {
  margin-top: 4px;
}

.single-post {
  /*
  p:first-child:first-letter,
  figure + p:first-letter {
      color: #212121;
      float: left;
      font-family: $vesterbro;
      font-weight: 700;
      font-size: 75px;
      line-height: 1;
      padding-top: 5px;
      padding-right: 8px;
      padding-bottom: 5px;
  }
  */
}
.single-post p {
  margin-bottom: 20px;
}
.single-post h1, .single-post h2, .single-post h3, .single-post h4, .single-post h5 {
  line-height: 1.5;
  font-weight: 600;
}
.single-post hr {
  margin: 40px -16.6667% 50px;
  border-top: 1px solid #eee;
}
.single-post ul {
  margin: 20px 0;
  padding: 0 0 0 30px;
  list-style: none;
}
.single-post ul li {
  position: relative;
  margin: 10px 0;
  padding-left: 30px;
}
.single-post ul li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #0EB6DD transparent transparent;
}
.single-post .single-img {
  margin: 30px -16.6667%;
}
.single-post .single-img img {
  width: 100%;
  vertical-align: middle;
  border-radius: 20px;
}
.single-post .single-media {
  position: relative;
  margin: 30px -16.6667%;
}
.single-post .single-media:after {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.single-post .single-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.single-post .social-share {
  margin: 0;
  padding: 0;
}
.single-post .social-share > li {
  display: block;
  padding-left: 0;
  margin: 0;
}
.single-post .social-share > li:before {
  display: none;
}
.single-post .social-share > li + li {
  margin-left: 0;
  margin-top: 15px;
}
.single-post .social-share > li a {
  display: block;
  width: 40px;
  line-height: 0;
  font-size: 18px;
  text-align: center;
  padding: 20px 0 17.5px;
  background-color: #212121;
  color: #fff;
  border-radius: 50%;
}
.single-post .social-share > li a:hover {
  background-color: #189547;
  box-shadow: 0 0 0 8px rgba(24, 149, 71, 0.3);
  color: #fff;
}

.list-contact {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-contact li {
  margin: 10px 0;
}

.step {
  overflow: auto;
  margin-bottom: 4em;
}
.step .step-nav {
  display: flex;
  padding: 20px 0;
  margin: 0;
  list-style: none;
  border: none;
}
.step .step-nav > li {
  margin: 0;
  float: none;
}
.step .step-nav > li > a {
  padding: 0;
  outline: none;
}
.step .step-item {
  position: relative;
  transform: translateZ(0);
  min-width: 120px;
  flex: 1;
  text-align: center;
}
.step .step-item:first-child::before, .step .step-item:last-child::after {
  display: none;
}
.step .step-item:before, .step .step-item:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #ddd;
  z-index: -1;
  transition: background-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.step .step-item:after {
  left: auto;
  right: 0;
}
.step .step-item .step-icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-width: 2px !important;
  border-style: solid;
  border-color: #ddd;
  color: #aaa;
  font-weight: 600;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  transition: background-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.step .step-item .step-label {
  margin-top: 20px;
}
.step .step-item.step-active .step-icon, .step .step-item.active .step-icon {
  background-color: #9CCF10;
  color: #fff;
  border-color: #9CCF10;
}
.step .step-item.warning .step-icon {
  background-color: #FFD000;
  color: #212121;
  border-color: #FFD000;
  animation: pulseWarning 0.8s cubic-bezier(0.2, 0.4, 0.1, 1) infinite;
}
.step .step-item.danger .step-icon {
  background-color: #E62020;
  color: #fff;
  border-color: #E62020;
  animation: pulseDanger 0.8s cubic-bezier(0.2, 0.4, 0.1, 1) infinite;
}
.step .step-item.active .step-icon {
  animation: pulseActive 0.8s cubic-bezier(0.2, 0.4, 0.1, 1) infinite;
}

@keyframes pulseActive {
  0% {
    box-shadow: 0 0 0 0 rgba(156, 207, 16, 0);
  }
  50% {
    box-shadow: 0 0 0 6px rgba(156, 207, 16, 0.6);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(156, 207, 16, 0);
  }
}
@keyframes pulseWarning {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 208, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 6px rgba(255, 208, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 208, 0, 0);
  }
}
@keyframes pulseDanger {
  0% {
    box-shadow: 0 0 0 0 rgba(230, 32, 32, 0);
  }
  50% {
    box-shadow: 0 0 0 6px rgba(230, 32, 32, 0.6);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(230, 32, 32, 0);
  }
}
#loc-result {
  height: 360px;
  position: relative;
  border-radius: 20px;
}

.map-wrapper {
  background-color: #fff;
  position: relative;
  margin-bottom: 40px;
}
.map-wrapper #map {
  position: relative;
  height: 620px;
}
.map-wrapper #map .gmnoprint {
  display: none !important;
}
.map-wrapper #map [src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"] {
  display: none !important;
}
.map-wrapper .map-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.map-wrapper .map-info .panel {
  margin: 0 auto;
  max-width: 800px;
  transform: translateY(50%);
}
.map-wrapper .map-info .list-stats,
.map-wrapper .map-info .stats {
  display: flex;
  align-items: center;
}
.map-wrapper .map-info .stats-val {
  font-size: 42px;
  font-weight: 800;
  color: #212121;
  font-family: "vesterbro", sans-serif;
  letter-spacing: -0.02em;
  margin-right: 20px;
  line-height: 50px;
}
.map-wrapper .map-info .stats-filter {
  text-align: right;
}
.map-wrapper .map-info .stats-filter .btn {
  width: 50px;
  padding: 12px 0;
  border-radius: 50%;
  line-height: 1;
}
.map-wrapper .map-info .stats-filter .btn i {
  font-size: 20px;
}

.list-download {
  margin-top: 5em !important;
}
.list-download a {
  display: block;
}
.list-download .download-wrapper {
  display: block;
  margin: 20px 0;
  transition: box-shadow 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), background-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), border-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), transform 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.list-download .download-wrapper .panel-body {
  display: flex;
  align-items: center;
}
.list-download .download-wrapper i {
  font-size: 24px;
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #eee;
  line-height: 40px;
  color: #0EB6DD;
  transition: color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1), border 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.list-download .download-wrapper .download-info {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
  overflow: hidden;
  color: #757575;
  transition: color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.list-download .download-wrapper .download-info b {
  transition: color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.list-download .download-wrapper:hover {
  box-shadow: 0 20px 50px rgba(14, 182, 221, 0.5);
  background-color: #0EB6DD;
  transform: translateY(-10px);
}
.list-download .download-wrapper:hover i {
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.list-download .download-wrapper:hover .download-info, .list-download .download-wrapper:hover b {
  color: #fff;
}

.chat-wrapper {
  padding: 2em 0 4em;
}
.chat-wrapper .container,
.chat-wrapper .chat-panel {
  height: 100%;
}
.chat-wrapper .chat-panel {
  display: flex;
  overflow: hidden;
}
.chat-wrapper .chat-panel .inner {
  overflow: auto;
  flex: 1;
}
.chat-wrapper .chat-panel .chat-user,
.chat-wrapper .chat-panel .chat-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.chat-wrapper .chat-panel .chat-user {
  flex: 0 0 380px;
  box-shadow: 10px 0 60px rgba(0, 0, 0, 0.07);
}
.chat-wrapper .chat-panel .chat-user .search-user {
  border-bottom: 1px solid #eee;
}
.chat-wrapper .chat-panel .chat-user .search-user .form-group {
  margin: 0;
}
.chat-wrapper .chat-panel .chat-user .search-user .form-control {
  border: none;
  padding: 0 40px 0 0;
}
.chat-wrapper .chat-panel .chat-user .search-user .btn-search {
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 20px;
  color: #ccc;
}
.chat-wrapper .chat-panel .chat-box {
  flex: 1;
}
.chat-wrapper .chat-panel .chat-box .chat-message .panel-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-wrapper .chat-panel .chat-box .chat-message .chat-date {
  margin-bottom: 20px;
  text-align: center;
}
.chat-wrapper .chat-panel .chat-box .chat-message .chat-date .label {
  margin-bottom: 20px;
}
.chat-wrapper .chat-panel .chat-box .chat-message .chat-date:first-child {
  margin-bottom: auto;
}
.chat-wrapper .chat-panel .chat-box .chat-message .chat-space {
  flex: 1;
  pointer-events: none;
}
.chat-wrapper .chat-panel .chat-box .chat-form {
  box-shadow: -10px 0 60px rgba(0, 0, 0, 0.07);
}
.chat-wrapper .chat-panel .chat-box .chat-form .panel-body {
  display: flex;
  align-items: flex-end;
}
.chat-wrapper .chat-panel .chat-box .chat-form .chat-input {
  flex: 1;
  padding: 13px 0;
  background-color: #eee;
  border-radius: 14px;
}
.chat-wrapper .chat-panel .chat-box .chat-form .chat-input .inner {
  overflow: hidden;
}
.chat-wrapper .chat-panel .chat-box .chat-form .chat-input .form-control {
  border: none;
  background-color: #fff;
  border-radius: 0;
  padding: 0 20px 0 20px;
  background-color: transparent;
  resize: none;
  height: 22px;
  line-height: 1.714;
  max-height: calc(1.714em * 4);
  width: calc(100% + 20px);
  max-width: none;
}
.chat-wrapper .chat-panel .chat-box .chat-form .chat-submit {
  margin-left: 20px;
}
.chat-wrapper .chat-panel .chat-box .chat-form .chat-submit .btn {
  height: 50px;
  width: 50px;
  border-radius: 14px;
  background-color: transparent;
  font-size: 24px;
  color: #aaa;
}
.chat-wrapper .chat-panel .chat-box .chat-list {
  display: flex;
}
.chat-wrapper .chat-panel .chat-box .chat-list + .chat-list {
  margin-top: 20px;
}
.chat-wrapper .chat-panel .chat-box .chat-list .chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}
.chat-wrapper .chat-panel .chat-box .chat-list .chat-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.chat-wrapper .chat-panel .chat-box .chat-list .chat-inner {
  display: flex;
  align-items: baseline;
}
.chat-wrapper .chat-panel .chat-box .chat-list .chat-inner + .chat-inner {
  margin-top: 10px;
}
.chat-wrapper .chat-panel .chat-box .chat-list .chat-inner .chat-text {
  padding: 9px 18px 7px;
  background-color: #f7f7f7;
  max-width: 600px;
  border-radius: 4px 14px 14px 4px;
}
.chat-wrapper .chat-panel .chat-box .chat-list .chat-inner:last-child .chat-text {
  border-radius: 4px 14px 14px 14px;
}
.chat-wrapper .chat-panel .chat-box .chat-list .chat-inner:first-child .chat-text {
  border-radius: 14px 14px 14px 4px;
}
.chat-wrapper .chat-panel .chat-box .chat-list .chat-inner .chat-time {
  font-size: 12px;
  margin: 0 15px;
  color: #aaa;
}
.chat-wrapper .chat-panel .chat-box .chat-list.me {
  flex-direction: row-reverse;
}
.chat-wrapper .chat-panel .chat-box .chat-list.me .chat-avatar {
  margin-right: 0;
  margin-left: 20px;
}
.chat-wrapper .chat-panel .chat-box .chat-list.me .chat-inner {
  flex-direction: row-reverse;
}
.chat-wrapper .chat-panel .chat-box .chat-list.me .chat-inner .chat-text {
  background-color: #c5f0f9;
  border-radius: 14px 4px 4px 14px;
}
.chat-wrapper .chat-panel .chat-box .chat-list.me .chat-inner:last-child .chat-text {
  border-radius: 14px 4px 14px 14px;
}
.chat-wrapper .chat-panel .chat-box .chat-list.me .chat-inner:first-child .chat-text {
  border-radius: 14px 14px 4px 14px;
}

.list-user .user-item + .user-item {
  border-top: 1px solid #eee;
}
.list-user .user-item {
  padding: 20px 50px;
  transition: background-color 0.4s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.list-user .user-item:hover {
  background-color: rgba(0, 0, 0, 0.035);
}
.list-user .user-item.active {
  background-color: #eee;
}

.user-item {
  display: flex;
  align-items: center;
  flex: 1;
}
.user-item .user-avatar {
  flex: 0 0 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  margin-right: 15px;
}
.user-item .user-info {
  flex: 1;
  min-width: 0;
  width: 0;
}
.user-item .user-info .user-name {
  font-weight: 500;
  color: #212121;
}
.user-item .user-info .user-stats {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

#survey-satisfaction {
  display: flex;
  align-items: center;
  justify-content: center;
}
#survey-satisfaction .emoticon div {
  position: relative;
  width: 120px;
  height: 120px;
  background-image: url(../images/emoticon_sleepy.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 5em 0 0;
}
#survey-satisfaction .emoticon div:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.8, 0.3);
  filter: blur(30px);
}

.list-radio input[type=radio] {
  display: none;
}
.list-radio .radio-btn + .radio-btn {
  margin-top: 10px;
}
.list-radio .radio-btn label {
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  color: #999;
  transition: color 0.3s cubic-bezier(0.2, 0.4, 0.1, 1);
}
.list-radio .radio-btn input[type=radio]:checked + label {
  color: #212121;
}

#hasil-survei {
  height: 100vh;
  width: 100%;
  display: table;
  background-image: url(../images/customer_service.svg);
  background-size: 50% auto;
  background-position: left bottom -70%;
  background-repeat: no-repeat;
}
#hasil-survei .inner {
  display: table-cell;
  vertical-align: middle;
  padding: 8em 0 10em;
}
#hasil-survei .main-title {
  margin: 0;
}

.main-footer {
  background-color: #212121;
}
.main-footer .hover-line {
  background-image: linear-gradient(to right, #0EB6DD 0%, #0EB6DD 100%);
}
.main-footer .main-title {
  margin-bottom: 2em;
}
.main-footer .main-title .title {
  font-family: inherit;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  color: #757575;
}
.main-footer .main-title .title:after {
  display: none;
}
.main-footer .logo-footer a {
  display: inline-flex;
  align-items: center;
}
.main-footer .logo-footer .logo-icon {
  width: 40px;
  height: 40px;
  background-image: url(../images/sikepa_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.main-footer .logo-footer .logo-text {
  text-transform: uppercase;
  font-family: "vesterbro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #fff;
}
.main-footer .footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}
.main-footer .footer-nav > li {
  flex: 0 0 50%;
  margin: 8px 0;
  padding: 0 10px;
}
.main-footer .footer-nav > li a {
  color: #aaa;
}
.main-footer .footer-nav > li a:hover, .main-footer .footer-nav > li a:focus, .main-footer .footer-nav > li a:focus:active {
  color: #fff;
}
.main-footer .contact-footer {
  display: block;
  margin: 0;
  background-image: url(../images/map_dotted.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main-footer .contact-footer li {
  padding: 0;
  color: #aaa;
}
.main-footer .contact-footer li a {
  color: #fff;
}
.main-footer .social-icon {
  margin: 20px 0 0;
}
.main-footer .social-icon li a {
  color: #0EB6DD;
}
.main-footer .social-icon li a:hover, .main-footer .social-icon li a:focus, .main-footer .social-icon li a:focus:active {
  color: #128DB3;
  text-decoration: none;
}
.main-footer .bottom-footer {
  position: relative;
  padding: 3em 0;
  border-top: 1px solid #333;
  text-align: center;
}
.main-footer .bottom-footer .btn-top {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 40px;
  font-size: 20px;
  line-height: 45px;
  overflow: hidden;
  text-align: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #333;
  color: #fff !important;
  z-index: 2;
}
.main-footer .bottom-footer .copyright {
  color: #757575;
}

/*# sourceMappingURL=main.css.map */
